<div class="heading  gridFourthBg">
    <div class="layoutInfo">
        <div class="item">
            <div class="paramsGroupName">
                HScroll
            </div>

            <div class="paramsGroupSeparator">
                >>
            </div>

            <div class="param">
                <div class="name">
                    Width: <span style="font-size: 22px; letter-spacing: -1px" class="gridWrapperWidth">1000px</span>
                </div>
            </div>

            <div class="param">
                <div class="name">
                    Height: <span style="font-size: 22px; letter-spacing: -1px" class="gridWrapperHeight">1000px</span>
                </div>
            </div>

            <div class="paramsGroupName">
                Grid
            </div>

            <div class="paramsGroupSeparator">
                >>
            </div>

            <div class="param">
                <div class="name">
                    Width: <span style="font-size: 22px; letter-spacing: -1px" class="gridWidth">1000px</span>
                </div>
            </div>

            <div class="param">
                <div class="name">
                    Height: <span style="font-size: 22px; letter-spacing: -1px" class="gridHeight">1000px</span>
                </div>
            </div>
        </div>
    </div>
</div>