<div class="heading">
    <div class="layoutInfo">
        <div class="item">
            <div class="paramsGroupName">
                Layout wrapper
            </div>

            <div class="param gridFifthBg">
                <div class="name">
                    Width:
                </div>

                <div class="value">
                    0px
                </div>
            </div>

            <div class="param gridFifthBg">
                <div class="name">
                    Height:
                </div>

                <div class="value">
                    0px
                </div>
            </div>

            <div class="paramsGroupName">
                Layout
            </div>

            <div class="param gridFifthBg">
                <div class="name">
                    Width:
                </div>

                <div class="value">
                    0px
                </div>
            </div>

            <div class="param gridFifthBg">
                <div class="name">
                    Height:
                </div>

                <div class="value">
                    0px
                </div>
            </div>

            <div class="param gridFifthBg">
                <div class="name">
                    Grid type:
                </div>

                <div class="value">
                    Vertical grid
                </div>
            </div>
        </div>
    </div>
</div>