<div class="heading  gridFifthBg">
    <div class="layoutInfo">
        <div class="item">
            <div class="paramsGroupName">
                Grid
            </div>

            <div class="paramsGroupSeparator">
                >>
            </div>

            <div class="param">
                <div class="name">
                    Width: <span class="strong layoutWidth">0px</span>
                </div>
            </div>

            <div class="param">
                <div class="name">
                    Height: <span class="strong layoutHeight">0px</span>
                </div>
            </div>
        </div>
    </div>
</div>