<div class="gridSourcesDumper">
    <div class="left">
        <div class="heading {{ bgClass }}">
            JAVASCRIPT
        </div>

        <div class="content">
        </div>
    </div>

    <div class="right">
        <div class="heading {{ bgClass }}">
            HTML
        </div>

        <div class="content">
        </div>

        <div class="heading {{ bgClass }}">
            CSS
        </div>

        <div class="content">
        </div>
    </div>
</div>