<div class="gridSourcesDumper">
    <div class="left">
        <div class="heading gridFifthBg">
            JAVASCRIPT
        </div>

        <div class="content">
        </div>
    </div>

    <div class="right">
        <div class="heading gridFifthBg">
            HTML
        </div>

        <div class="content">
        </div>

        <div class="heading gridFifthBg">
            CSS
        </div>

        <div class="content">
        </div>
    </div>
</div>