#demoLayout .gridControlsView .controls {
    width: 100%;
    height: 345px;
    background: rgb(235,235,235);
}

#demoLayout .gridControlsView .controls .controlsHeading,
#demoLayout .gridControlsView .controls .controlsContent {
    clear: both;
}

#demoLayout .gridControlsView .controls .controlsHeading .legend {
    float: left; 
    height: 67px; 
    line-height: 70px; 
    margin-left: 25px; 
    font-size: 24px; 
    letter-spacing: -1px;
}

#demoLayout .gridControlsView .controls .controlsHeading .button,
#demoLayout .gridControlsView .controls .controlsHeading .selector {
    position: absolute;
    width: 220px;
    height: 42px;
    line-height: 39px;
    background: rgb(220,220,220);
    box-sizing: border-box;
    border: 1px rgb(150,150,150) solid;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
    color: rgb(60,60,60);
}

#demoLayout .gridControlsView .controls .controlsHeading .gridControlsHeadingMenuWrapper {
    width: 100%; 
    height: 58px; 
    box-sizing: border-box; 
    margin-top: 71px;
    border-left: 5px rgb(235,235,235) solid;
    border-right: 5px rgb(235,235,235) solid;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsHeadingMenuWrapper {
    width: calc(100% - 5px); 
    width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    height: 58px;
    overflow-y: scroll;
    margin-top: 71px;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsHeadingMenuScrollHider {
    position: absolute;
    right: 0px;
    top: 71px;
    width: 22px;
    height: 58px;
    background: rgb(235,235,235);
}

#demoLayout .gridControlsView .controls .controlsHeading .gridControlsHeadingMenu {
    clear: both;
    width: 100%;
    height: 58px;
    border: 1px rgb(150,150,150) solid;
    box-sizing: border-box;
    background: rgb(220,220,220);
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsHeadingMenu {
    clear: both;
    width: 99%;
    height: 58px;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsMenu .itemWrapper {
    width: 33.33%;
    height: 58px;
    box-sizing: border-box;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsMenu .leftItemWrapper {
    float: left;
    border-right: 3px rgb(235,235,235) solid;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsMenu .middleItemWrapper {
    float: left;
    border-left: 2px rgb(235,235,235) solid;
    border-right: 2px rgb(235,235,235) solid;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsMenu .rightItemWrapper {
    float: right;
    border-left: 3px rgb(235,235,235) solid;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsMenu .item {
    width: 100%;
    height: 58px;
    line-height: 58px;
    font-size: 14px;
    background: rgb(220,220,220);
    font-weight: bold;
    letter-spacing: -1px;
    color: rgb(60,60,60);
    box-sizing: border-box;
    border: 1px rgb(150,150,150) solid;
    position: relative;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsMenu .item .selectorIcon {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    right: 4%;
    top: 50%;
    margin-top: -6px;
    border-color: rgb(60,60,60) transparent transparent transparent;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsMenu .item .top {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 2px;
}

#demoLayout .gridControlsView .controls .controlsHeading .itemControlsMenu .item .bottom {
    width: 100%;
    height: 20px;
    line-height: 8px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
}

#demoLayout .gridControlsView .controls .controlsHeading .button:hover,
#demoLayout .gridControlsView .controls .controlsHeading .selector:hover {
    cursor: pointer;
}

#demoLayout .gridControlsView .controls .controlsHeading .clearGridControl {
    top: 15px;
    right: 5px;
}

#demoLayout .gridControlsView .controls .controlsHeading .boxSizingControl {
    top: 15px;
    right: 10px;
    width: 220px;
}

#demoLayout .gridControlsView .controls .controlsHeading .boxSizingControl .text {
    text-align: center;
}

#demoLayout .gridControlsView .controls .controlsHeading .selector .selectorIcon {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    right: 6px;
    top: 50%;
    margin-top: -4px;
    border-color: rgb(60,60,60) transparent transparent transparent;
}

#demoLayout .gridControlsView .controls .controlsHeading .button .selectedSelectorIcon {
    border-color: rgb(255,255,255) transparent transparent transparent;
}

#demoLayout .gridControlsView .controls .controlsHeading .selectedSelectorIcon {
    border-color: rgb(255,255,255) transparent transparent transparent !important;
}

#demoLayout .gridControlsView .controls .controlsHeading .selected {
    color: white !important; 
}

#demoLayout .gridControlsView .controls .controlsHeading .leftSide {
    position: relative;
    float: left;
    width: 50%;
    height: 130px;
}

#demoLayout .gridControlsView .controls .controlsHeading .rightSide {
    position: relative;
    float: left;
    width: 50%;
    height: 130px;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide,
#demoLayout .gridControlsView .controls .controlsContent .rightSide {
    float: left;
    width: 50%;
    height: 210px;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem {
    float: left;
    width: 50%;
    height: 70px;
    background: rgb(220,220,220);
    box-sizing: border-box;
    border: 5px rgb(235,235,235) solid;
    position: relative; 
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem .borderWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px rgb(150,150,150) solid;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem:hover {
    cursor: pointer;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .noRightBorder {
    border-right: 0px;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .noBottomBorder {
    border-bottom: 0px;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem .legend {
    float: left;
    width: 100%;
    height: 58px;
    margin-top: 4px;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem .legend .top {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem .legend .bottom {
    width: 100%;
    height: 20px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem .selectorIcon {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    right: 4%;
    top: 50%;
    margin-top: -6px;
    border-color: rgb(60,60,60) transparent transparent transparent;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem .selectedSelectorIcon {
    border-color: rgb(255,255,255) transparent transparent transparent;
}

#demoLayout .gridControlsView .controls .controlsContent .leftSide .controlItem .selected {
    color: white !important; 
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .itemSettings {
    width: calc(100% - 5px); 
    width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    height: 205px; 
    margin-top: 5px; 
    background: rgb(220,220,220); 
    overflow-y: scroll;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .itemSetting {
    position: relative;
    width: 99%;
    height: 65px;
    box-sizing: border-box;
    border: 1px rgb(150,150,150) solid;
    background: rgb(235,235,235);
    z-index: 1;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .itemSetting .disabledItemSetting {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 63px;
    box-sizing: border-box;
    background: url(../../../../img/transparentBg.png);
    z-index: 2; 
    display: none;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .itemSettingTopMargin {
    margin-top: 5px;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .left {
    position: relative;
    float: left;
    width: 80px;
    height: 65px;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .left .gridItem {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -28px;
    width: 52px;
    height: 52px;
    line-height: 46px;
    color: white;
    font-weight: bold;
    letter-spacing: -1px;
    box-sizing: border-box;
    border: 3px black solid;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right {
    position: relative;
    float: left;
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: calc(100% - 80px); 
    height: 65px; 
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .leftSide {
    position: relative;
    width: 60%;
    height: 65px; 
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .rightSide {
    position: relative;
    width: 40%;
    height: 65px;
    text-align: center;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .gridItemSettingsSelector {
    position: relative;
    height: 59px;
    margin-top: 1px; 
    letter-spacing: -1px; 
    line-height: 59px;
    display: inline-block; 
    font-size: 14px; 
    font-weight: bold;
    color: rgb(60,60,60);
    padding-left: 15px;
    padding-right: 15px; 
    border-left: 1px rgb(235,235,235) solid;
    border-top: 1px rgb(235,235,235) solid;
    border-bottom: 1px rgb(235,235,235) solid;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .gridItemSizeSelectorBorder {
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .selectedSelector {
    color: white !important;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .gridItemSettingsSelector:hover {
    cursor: pointer;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .gridItemSettingsSelector .selectorWrapper {
    position: absolute; 
    width: 25px; 
    height: 59px; 
    right: -13px; 
    top: -1px;
    border-right: 1px rgb(235,235,235) solid;
    border-top: 1px rgb(235,235,235) solid;
    border-bottom: 1px rgb(235,235,235) solid;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .gridItemSettingsSelector .selectorWrapperBorder {
    border-right: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .gridItemSettingsSelector .selectorIcon {
    position: absolute; 
    top: 21px;
    width: 0; 
    height: 0; 
    border-style: solid;
    border-width: 8px 8px 0 8px; 
    border-color: rgb(60,60,60) transparent transparent transparent; 
    margin-top: 5px; 
    margin-left: 5px;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .gridItemSettingsSelector .selectedSelectorIcon {
    border-color: rgb(255,255,255) transparent transparent transparent;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .applyToAllItemSetting {
    margin-top: 11px;
    width: 80%; 
    height: 42px; 
    line-height: 40px;
    background: rgb(220,220,220); 
    font-size: 14px; 
    font-weight: bold; 
    letter-spacing: -1px;
    color: rgb(60,60,60);
    border: 1px rgb(150,150,150) solid;
    box-sizing: border-box; 
    margin-left: 15px;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .selectedApplyToAllItemSetting {
    color: white;
}

#demoLayout .gridControlsView .controls .controlsContent .rightSide .right .applyToAllItemSetting:hover {
    cursor: pointer;
}