<div class="horizontalGrid disableSelect">
    <div class="gridBody">
        <div class="gridBg defaultGridBgFont">
            Gridifier demo grid
        </div>
    </div>
</div>

<div class="horizontalGridResizer">
    <div class="icon">
        <div class="left"></div>
        <div class="middle"></div>
        <div class="right"></div>
    </div>
</div>