<div class="grid disableSelect">
    <div class="gridBg defaultGridBgFont">
        Gridifier demo grid
    </div>

    <div class="gridResizer">
        <div class="icon">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
    </div>
</div>