<div id="configurator">
    <div class="top">
        Grid configurator
    </div>

    <div class="gridTypeSelector">
    </div>

    <div class="gridSettings">
        <div class="left verticalGridSettings" data-applyplugin="accordion" data-accordionItemId="verticalGridSettingsItem">
        </div>

        <div class="right horizontalGridSettings" data-applyplugin="accordion" data-accordionItemId="horizontalGridSettingsItem">
        </div>
    </div>
</div>