<div class="left verticalGridTypeSelector">
    <div class="heading">
        <div class="label">
            Grid type: Vertical grid
        </div>

        <div class="sublabel">
            Creates grid in fixed width container.
        </div>
    </div>

    <div class="content" data-applyplugin="cssCalcNormalizer" data-plugin-mode="substractFromParent" data-plugin-secondvalue="310px" data-plugin-property="width">
        <div class="verticalGridImage gridImage" data-applyplugin="cssCalcNormalizer" data-plugin-mode="substractFromParent" data-plugin-secondvalue="6px" data-plugin-property="width">
        </div>
    </div>
</div>

<div class="right horizontalGridTypeSelector">
    <div class="heading">
        <div class="label">
            Grid type: Horizontal grid
        </div>

        <div class="sublabel">
            Creates grid in fixed height container.
        </div>
    </div>

    <div class="content" data-applyplugin="cssCalcNormalizer" data-plugin-mode="substractFromParent" data-plugin-secondvalue="310px" data-plugin-property="width">
        <div class="horizontalGridImage gridImage">
        </div>
    </div>
</div>