<div class="layout">
    <div class="disabledSortDispersionLayoutInsertionFrame sortDispersionDemonstratorLayout">
    </div>

    <div class="disabledSortDispersionLayoutTransitionFrame sortDispersionDemonstratorLayout">
    </div>

    <div class="customSortDispersionLayoutInsertionFrame sortDispersionDemonstratorLayout">
    </div>

    <div class="customSortDispersionLayoutTransitionFrame sortDispersionDemonstratorLayout">
    </div>
</div>