<div id="demoLayout">
    <div class="demoLayoutHeading">
        Grid demo layout

        <div class="loadGridConfiguratorButton">
            New grid
        </div>
    </div>

    <div class="gridHeadingView">
    </div>

    <div class="gridTopControlsView gridControlsView">
    </div>

    <div class="gridView">
    </div>

    <div class="gridBottomControlsView gridControlsView">
    </div>

    <div class="gridSourcesDumperView">
    </div>
</div>