<div id="demoLayout">
    <div class="demoLayoutHeading">
        Grid demo layout

        <div class="loadGridConfiguratorButton">
            New grid
        </div>
    </div>

    <div style="width: 100%; height: 400px; background: green">
    </div>
</div>